<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Artistas/Bandas</h2>
            <a href="/artistas/add" class="btn btn-success">+ Novo Artista/Banda</a>
        </div>
        <form method="post">
             <input type="text" name="pesquisar" placeholder="Nome do Artista">
             <input type="submit" value="Buscar">
        </form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>País</th>
                        <th>Ano Início</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%artistas.forEach(artista => {%>
                    <tr>
                        <td><%=artista.nome%></td>
                        <td><%=artista.pais%></td>
                        <td><%=artista.anoInicio%></td>
                        <td><a href="/artistas/del/<%=artista.id%>" class="link">Excluir</a>
                        <a href="/artistas/edt/<%=artista.id%>" class="link">Editar</a></td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
